nav {
  .logo {
    width: 200px;
  }

  button {
    width: 55px;
    height: 40px;
  }

  .nav-link {
    color: #0074c7;
    &:hover {
      text-decoration: underline;
      color: #00497c;
    }
  }

  form {
    .form-control {
      border-bottom: solid 1px #0074c7;
      border-right: solid 1px #0074c7;
    }
    input {
      outline: none;
      color: #384050;
    }
    ul {
      background-color: white;
      z-index: 10;
      position: relative;
      border: solid 1px #0074c7 {
        top: none;
      }
      max-width: auto;
      height: auto;
      word-wrap: break-word;
      text-align: start;
      cursor: pointer;
    }

    li {
      padding: 10px 0 10px 0;
      border-bottom: solid 1px #0074c7;
      list-style: none;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }

  .navbar-toggler {
    box-shadow: 1px 1px 1px 1px #0074c7;
  }

  @media screen and (min-width: 991px) {
    #searchbar {
      position: absolute;
      top: 10px;
      right: 150px;
    }

    .logo {
      width: 300px;
    }
    svg {
      color: #0074c7;
    }

    svg:hover {
      color: #00497c;
    }
  }
}
