nav {
  .logo {
    width: 200px;
  }

  button {
    width: 55px;
    height: 40px;
  }

  .nav-link {
    color: #0074c7;
    &:hover {
      text-decoration: underline;
      color: #00497c;
    }
  }

  form {
    border-bottom: solid 1px #0074c7;
    border-right: solid 1px #0074c7;
  }

  input {
    color: #384050;
    outline: none;
  }

  .form-control {
    border: none;
  }

  .navbar-toggler {
    box-shadow: 1px 1px 1px 1px #0074c7;
  }

  @media screen and (min-width: 991px) {
    #searchbar {
      position: absolute;
      top: 10px;
      right: 150px;
    }

    .logo {
      width: 300px;
    }
    svg {
      color: #0074c7;
    }

    svg:hover {
      color: #00497c;
    }
  }
}
