$Blanc: #f1f8fc;
$Bleu-clair: #0074c7;
$Bleu-fonce: #00497c;
$Gris: #384050;
$Rouge: #cd2c2e;
$Vert: #82b864;

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin titleFont {
  color: $Bleu-fonce;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  @media screen and (min-width: 991px) {
    font-size: 3rem;
  }
}

main {
  background-color: $Blanc;
}

.card {
  padding: 0;
  width: 300px;
  p {
    color: $Bleu-clair;
  }
}

.step {
  li,
  p {
    @include flexCenter;
    color: $Gris;
  }
  h1 {
    @include flexCenter;
    @include titleFont;
  }
  h3 {
    color: $Bleu-clair;
  }
}

h2 {
  @include flexCenter;
  @include titleFont;
}

.bande {
  @include flexCenter;
  border: {
    top: 5px solid $Bleu-clair;
    bottom: 5px solid $Bleu-clair;
  }

  h1 {
    @include titleFont;
  }
}
